<html>
<header>
    <title>
        NODE APPS
    </title>
</header>
<body>

<div class="container" style="margin:auto; width: auto;">
    <div class="row" style="width:80%; margin: auto; text-align: center;">
        <h1>{{ message }}</h1><br>
        {{ error.status }}
        {{ error.stack }}
</body>

</div>
</div>

</html>