<html>
<header>
    <title>
        {{ title }}
    </title>
</header>
<body>

<div class="container" style="margin:auto; width: auto;">
    <div class="row" style="width:200px; margin: auto; text-align: center;">
        <h1>NODE APPS</h1><br><br>
        <h2>LOGIN Page</h2>
        <br>
        <h3 style="color:red;">{{ message }}</h3><br>
        <a href="/auth/facebook">Login with Facebook</a><br>
        <a href="/auth/google">Login with Google</a><br>
        <br>
        <a href="signup">Sign Up kalo ga punya</a>
        <form action="login" method="post">
            <input type="text" name="email" placeholder="Enter Email"><br>
            <input type="password" name="password" placeholder="Enter Password"><br>
            <button type="submit">LOGIN</button>
        </form>
    </div>
</div>

</body>
</html>