<html>
    <head>
        <title>NODE APPS</title>
    </head>
    <body>

        <h1>NODE APPS</h1><br>
        <h2>PROFILE PAGE</h2><br>

        <h3>Wellcome, {{ user.local.username }}</h3>
        <a href="logout">Logout</a><br><br>
        <h3>My Profile LOCAL </h3><br>
        <p>ID USER : {{ user._id }}</p><br>
        <p>USERNAME : {{ user.local.username }}</p><br>
        <p>PASSWORD : {{ user.local.password }}</p><br>

        <h3>My Profile Facebook </h3><br>
        <p>ID USER : {{ user._id }}</p><br>
        <p>FACEBOOK ID : {{ user.facebook.id }}</p><br>
        <p>TOKEN : {{ user.facebook.token }}</p><br>
        <p>EMAIL : {{ user.facebook.email }}</p><br>
        <p>NAME : {{ user.facebook.name }}</p><br>

        <h3>My Profile Google </h3><br>
        <p>ID USER : {{ user._id }}</p><br>
        <p>FACEBOOK ID : {{ user.google.id }}</p><br>
        <p>TOKEN : {{ user.google.token }}</p><br>
        <p>EMAIL : {{ user.google.email }}</p><br>
        <p>NAME : {{ user.google.name }}</p><br>

    </body>


</html>