<html>
<header>
    <title>
        {{ title }}
    </title>
</header>
<body>

<h1>NODE APPS</h1><br><br>
<h2>Sign Up Page</h2>
<br>
<h3 style="color:red;">{{ message }}</h3>
<br>
<form action="/signup" method="post">
    <input type="text" name="email" placeholder="Enter Email">
    <input type="password" name="password" placeholder="Enter Password">
    <button type="submit">Sign Up</button>
</form>

</body>
</html>